.popup {
    position: fixed;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(128, 128, 128, 0.205);
}

.popup-container {
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #fff;
    align-items: center;
}

.close-icon {
    margin: 5px 10px;
    align-self: flex-end;
}

.close-icon:hover {
    cursor: pointer;
    color: rgb(165, 165, 165);
}

.popup-container span {
    padding-left: 50px;
    padding-right: 150px;
    max-height: 50vh;
    width: 50%;
}

.table-container {
    margin-top: 30px;
    width: 70%;
}

.table {
    margin: 0 auto;
}

@media (min-width: 960px) and (max-width: 1280px) {
    .image {
        width: 200px;
    }
}
